.app-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Treasure Map Deadhand";
  src: url("../assets/fonts/TreasureMapDeadhand.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Treasure Map Deadhand", sans-serif;
  color: #8b0000; /* Dark Charcoal */
  background-color: #f4e3c1; /* Muted Parchment Beige */
}

h1,
h2,
h3 {
  color: #8b0000; /* Deep Crimson Red */
}

a {
  color: #d4af37; /* Gold */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d4af37;
  cursor: pointer;
  transition: border-color 0.25s;
}
