:root {
  --background-color: #f4e3c1; /* Muted Parchment Beige */
  --text-color: #8b0000; /* Deep Crimson Red */
  --primary-color: #1c1b18; /* Dark Charcoal */
  --secondary-color: #2c3e50; /* Dark Ocean Blue */
  --button-color: #d4af37; /* Gold Brass */
}

.app-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Treasure Map Deadhand";
  src: url("../assets/fonts/TreasureMapDeadhand.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  z-index: 0;
  font-family: "Treasure Map Deadhand", sans-serif;
  color: var(--text-color);
  background: url("../assets/images/parchment.jpg");
  background-attachment: fixed;
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
}

html::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 17%; /* Adjust the size of the faded area */
  height: 12%; /* Adjust the size of the faded area */
  border-bottom-left-radius: 210px;
  background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0),
    /* Dark fade */ rgba(0, 0, 0, 0.7)
      /* Transparent towards the bottom-right */
  );
  pointer-events: none;
  z-index: 1; /* Ensure it's below the burned corner */
}

h1,
h2,
h3 {
  color: var(--text-color);
}

h1 {
  font-size: 5.5em;
  line-height: 1.1;
}

h3 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  color: var(--text-color);
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--button-color);
}

input {
  border-radius: 8px;
  background-color: var(--primary-color);
  color: whitesmoke;
  font-family: inherit;
  font-size: 1.5em;
}

/* Burned corner */
.burned-corner {
  position: absolute;
  top: 0;
  right: 0; /* Position in top-right corner */
  width: 200px; /* Size of the corner */
  height: 200px;
  z-index: 2; /* Ensures it is above the faded area */
  mix-blend-mode: multiply; /* Blends with background */
  pointer-events: none;
}

@media (max-width: 768px) {
  .burned-corner {
    width: 100px;
    height: 100px;
  }
}
