:root {
  --background-color: #f4e3c1; /* Muted Parchment Beige */
  --text-color: #8b0000; /* Deep Crimson Red */
  --primary-color: #1c1b18; /* Dark Charcoal */
  --secondary-color: #2c3e50; /* Dark Ocean Blue */
  --button-color: #d4af37; /* Gold Brass */
}

.app-container {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 20px;
  z-index: 1;
}

.homepage-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px; /* Adjust spacing to control the gap between Hero and AddPlayer */
  padding-top: 20px;
}

@font-face {
  font-family: "Treasure Map Deadhand";
  src: url("../assets/fonts/TreasureMapDeadhand.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: "Treasure Map Deadhand", sans-serif;
  color: var(--text-color);
  background: url("../assets/images/parchment.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.pirate-ship-background {
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background-image: url("../assets/images/pirate_ship.png");
  opacity: 0.3;
  background-size: auto; /* Adjust to your preference */
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* This ensures it stays behind other content */
}

.pirate-flag-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 72%;
  bottom: -60%;
  background-image: url("../assets/images/pirate_flag.png");
  opacity: 0.3;
  background-size: contain; /* Adjust to your preference */
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* This ensures it stays behind other content */
}
/* Typeography */
h1,
h2,
h3 {
  color: var(--text-color);
}

h1 {
  font-size: 5.5em;
  line-height: 1.1;
}

h3 {
  font-size: 3.2em;
  text-align: center;
}

/* Tables */
table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
th {
  font-size: 30px;
}

table td:first-child {
  font-size: 30px;
  padding-right: 10px;
}

/* Form elements */
button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  color: var(--text-color);
  max-width: 300px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--button-color);
}

input {
  border-radius: 8px;
  background-color: var(--primary-color);
  color: whitesmoke;
  font-family: inherit;
  font-size: 1.5em;
  padding: 0.3em 0.6em;
  max-width: 400px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
  }

  /* Scaling Down Headings */
  h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  h3 {
    font-size: 3em;
    text-align: center;
  }

  /* Table Styles */
  th,
  table td:first-child {
    font-size: 1.5em;
  }

  input,
  button {
    font-size: 1.2em;
  }
}
