.round_tracker_container {
  position: relative;
  padding-bottom: 30px;
}

.round_tracker_header {
  display: flex;
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Push elements to edges */
  padding: 0.5em 1em; /* Add spacing */
}

.round_tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.round_tracker button {
  margin: 1em;
}

.round_tracker input {
  text-align: center;
  width: 7em;
  margin: 1px;
}

.player_cell {
  display: flex;
}

.player_cell img {
  cursor: pointer;
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: 8px;
}

.new_game {
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
}

.reset_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Adjust size for your design */
  height: 45px; /* Ensure square shape */
  border: none;
  cursor: pointer;
}

.reset_button svg {
  width: 20px;
  height: 20px;
}
