.round_tracker_container {
  width: 90%;
  border-top: 2px dashed var(--text-color);
  position: relative;
  padding-bottom: 30px;
}

.round_tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.round_tracker button {
  margin: 1em;
}

.round_tracker input {
  text-align: center;
  width: 7em;
  margin: 1px;
}
