.round_tracker_container {
  position: relative;
  padding-bottom: 30px;
}

.round_tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.round_tracker button {
  margin: 1em;
}

.round_tracker input {
  text-align: center;
  width: 7em;
  margin: 1px;
}

.player_cell {
  display: flex;
}

.player_cell img {
  cursor: pointer;
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: 8px;
}
